{% extends 'base.html.twig' %}

{% block title %}Edition du mot de passe{% endblock %}

{% block body %}
<div class="wrapper-entity-form">
<h1>Password Edit</h1>
    <p class="d-flex justify-content-end">Password edit</p>
    {{ form_start(form) }}
    <table class="table table-striped table-dark">
        <thead class="thead">
            <tr>
                <th>Type New Password</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ form_widget(form) }}</td>
            </tr>
        </tbody>
    {{ form_end(form) }}
        </table>
        <button type="submit" class="btn btn-success btn-block">Edit</button>
        <a href="{{ path('admin_user_index') }}" button type="button" class="btn btn-primary btn-block">Back to list</a>
</div>
{% endblock %}