{% extends 'base.html.twig' %}

{% block title %}Recuperer un mot de pass{% endblock %}

{% block body %}
<div class="wrapper-entity-form">
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success btn-block">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
</div>
{% endblock %}
