{% extends 'base.html.twig' %}

{% block title %}Edit MasteryLevel{% endblock %}

{% block body %}
    <h1>Edit MasteryLevel</h1>

    {{ include('mastery_level/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('mastery_level_index') }}">back to list</a>

    {{ include('mastery_level/_delete_form.html.twig') }}
{% endblock %}
