{% extends 'base.html.twig' %}

{% block title %}New MasteryLevel{% endblock %}

{% block body %}
    <h1>Create new MasteryLevel</h1>

    {{ include('admin/mastery_level/_form.html.twig') }}

    <a href="{{ path('admin_mastery_level_index') }}">back to list</a>
{% endblock %}
