{% extends 'base.html.twig' %}

{% block title %}Edit ProgramComment{% endblock %}

{% block body %}
    <h1>Edit ProgramComment</h1>

    {{ include('admin/program_comment/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_program_comment_index') }}">back to list</a>

    {{ include('admin/program_comment/_delete_form.html.twig') }}
{% endblock %}
