{% extends 'base.html.twig' %}

{% block title %}New ProgramComment{% endblock %}

{% block body %}
    <h1>Create new ProgramComment</h1>

    {{ include('admin/program_comment/_form.html.twig') }}

    <a href="{{ path('admin_program_comment_index') }}">back to list</a>
{% endblock %}
