tr:nth-of-type(odd) {
    background-color: lightgray;
}
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../asset/images/background_back.png");
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
}
.container-login {
    background: #343A40;
    border-radius: 30px;
    width: 300px;
    height: 300px;
    padding: 30px;
    border: 2px solid #FFC107;
}

.logo {
    padding-bottom: 30px;
}

.signin-form-btn {
    padding-top: 10px;
    padding-bottom: 10px;
}

.email-input {
    border: 2px solid #FFC107;
    margin-bottom: 10px;
}

.password-input {
    border: 2px solid #FFC107; 
}

.input{
    background: transparent;
    border: none;
}