{% extends 'base.html.twig' %}

{% block title %}New Prerequisite{% endblock %}

{% block body %}
    <h1>Create new Prerequisite</h1>

    {{ include('prerequisite/_form.html.twig') }}

    <a href="{{ path('prerequisite_index') }}">back to list</a>
{% endblock %}
