{% extends 'base.html.twig' %}

{% block title %}Edit AccessLevel{% endblock %}

{% block body %}
    <h1>Edit AccessLevel</h1>

    {{ include('access_level/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('access_level_index') }}">back to list</a>

    {{ include('access_level/_delete_form.html.twig') }}
{% endblock %}
