{% extends 'base.html.twig' %}

{% block title %}New AccessLevel{% endblock %}

{% block body %}
    <h1>Create new AccessLevel</h1>

    {{ include('access_level/_form.html.twig') }}

    <a href="{{ path('access_level_index') }}">back to list</a>
{% endblock %}
