<div class="wrapper">
<p>Bonjour {{ accountName }} ! Votre nouveau mot de passe est : <strong>{{ password }}</strong></p>

<p>Connectez-vous à <a href="http://3.84.28.117/connexion">votre compte</a> et changez le mot de passe dans votre profil.</p>

<p>À bientôt !</p>
</div>