{% extends 'base.html.twig' %}

{% block title %}Admin home{% endblock %}

{% block body %}
    <h1>admin home</h1>

        {% for line in data %}
                    <div>{{ line }}</div>
                {% endfor %}
        

{% endblock %}
