{% extends 'base.html.twig' %}

{% block title %}Admin home{% endblock %}

{% block body %}
<div class="admin-homepage">
<img src="{{ asset('asset/images/logo_abloc.png') }}" alt="Logo Abloc" style="width:100px;">
<h1>A'Bloc Admin v1</h1>
</div>
{% endblock %}
